
@media all and (max-width: 670px) {
    .lesson {
      width: 100%;
    }
    
    .button {
      display: none;
    }
    
    .fa {
      display: none;
    }

    .header-right {
      opacity: 0.8;
    }

    small {
      color: white;
    }
    
    .header-left {
      padding-left: 40px;
      color: white;
      opacity: 0.8;
    }
    
    h2 {
      color: black;
      opacity: 0.8;
    }

    footer {
      text-align: left;
      padding-left: 40px;
      width:100%;
      border-top: 1px solid black;
    }
    
    .btn {
      width: auto;
      justify-content: center;
      padding: 10px 10px;
      margin: auto;
      opacity: 0.8;
      color: black;
    }

    a {
      opacity: 0.8;
    }
    
    .top-wrapper {
      text-align: center;
      width: 100%;
    }

    .btn-wrapper {
      text-align: center;
      justify-content: center;
      position: relative;
      opacity: 0.8;
    }

    li {
      display: none;
    } 
    
    .twitter {
        opacity: 0.8;
    }
    
    .facebook {
        opacity: 0.8;
    }
    
    .twitter {
        opacity: 0.8;
    }   
        
    .menu-icon {
      display: block;
    }
    
    h1 {
      color: black;
      width: 100%;
      padding: 0 0;
    }
    
    p {
      color: black;
      width: 100%;
    }
    
    .top-wrapper h1 {
      font-size: 24px;
      line-height: 36px;
      color: black;
    }
    
    .top-wrapper p {
      font-size: 14px;
      line-height: 20px;
      color: black;
    }
    
    .message-wrapper {
      padding: 180px 0 100px 0;
      color: black;
      text-align: center;
      background-size: cover;
      background-image: url(https://coolbackgrounds.io/images/backgrounds/black/black-trianglify-b6181ec2.jpg);
    }
  }
  
