
@media all and (max-width: 670px) {
    .lesson {
      width: 100%;
    }
    
    .header-left {
      padding-left: 40px;
    }

    footer {
      text-align: left;
      padding-left: 40px;
      width:100%;
    }
    
    .btn {
      width: 100%;
    }

    a {
      opacity: 0.8;
    }
    
    h1 {
      width: 100%;
      padding: 0px 0px;
      margin: 0px 0px;
    }
    
    p {
      width: 100%;
      padding: 0px 0px;
      margin: 0px 0px;
    }
    
    .top-wrapper {
      text-align: center;
      width: 100%;
      line-height: 90px;
    }

    .btn-wrapper {
      width: 100%;
      text-align: center;
      justify-content: center;
      position: relative;
      opacity: 0.8;
    }

    li {
      display: none;
    }

    .menu-icon {
      display: block;
    }
  }
  
