
@media all and (max-width: 670px) {
    .lesson {
      width: 100%;
    }
    
    .header-left {
      padding-left: 40px;
    }

    footer {
      text-align: left;
      padding-left: 40px;
      width:100%;
    }
    
    .btn {
      width: auto;
      justify-content: center;
      padding: 10px 10px;
      margin: auto;
    }

    a {
      opacity: 0.8;
    }
    
    .top-wrapper {
      text-align: center;
      width: 100%;
    }

    .btn-wrapper {
      text-align: center;
      justify-content: center;
      position: relative;
      opacity: 0.8;
    }

    li {
      display: none;
    } 

    .menu-icon {
      display: block;
    }
    
    h1 {
      color: black;
      width: 100%;
    }
    
    p {
      color: black;
      width: 100%;
    }
    
    .top-wrapper h1 {
      font-size: 24px;
      line-height: 36px;
      color: black;
    }
    
    .top-wrapper p {
      font-size: 14px;
      line-height: 20px;
      color: black;
    }
  }
  
